* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all .3s;
}

body {
  padding: 0;
  margin: 0;
  background-color: aliceblue;
}

a {
  text-decoration: none;
  color: #444;
}
/* 
@keyframes Show {
  0% {
    opacity: .2;
    transform: translateY(-30px);
  }
}

@keyframes ShowL {
  0% {
    opacity: .2;
    transform: translateX(-100%);
  }
}

@keyframes ShowScroll {
  0% {
    transform: translateY(-100%);
  }
}
 */
